.text-zone{
    position: absolute;
    left : 50%;
    top : 22%;
    transform: translateY(-50%);
    transform: translateX(-50%);
    width : 35%;
    // vertical-align: middle;
    // display: table-cell;
    max-height : 90%;
    margin-left: 20px;

    h1{
        font-size: 53px;
        font-family: 'Coolvetica';
        color : #ffd700;
        font-weight: 400;
        margin-top: -50px;
        position : relative;
        margin-bottom: 40px;

        &::before{
            content : '<h1>';
            font-family: 'La Belle Aurore';
            font-size: 18px;
            position: absolute;
            margin-top: -10px;
            left : -22px;
            opacity: 0.6;
            line-height: 18px;
        }

        &::after{
            content : '</h1>';
            font-family: 'La Belle Aurore';
            font-size: 18px;
            line-height: 18px;
            position: absolute;
            bottom: -20px;
            opacity: 0.6;
        }

        .text-animate-hover{
            &:hover{
                color : #fff;
            }
        }
    }

    .contact-form{
        width : 100%;
        margin-top : 20px;

        ul{
            padding : 0;
            margin : 0;

            li{
                padding : 0;
                margin : 0;
                list-style: none;
                margin-bottom: 10px;
                position: relative;
                display: block;
                overflow: hidden;
                opacity: 0;
                animation: fadeInUp 2s 2s;
                animation-fill-mode: forwards;
            }
        }
        input[type='text'],
        input[type='email']{
            width : 100%;
            border : 0;
            height : 40px;
            font-size: 16px;
            color : #022c43;
            padding: 0 20px;
            box-sizing: border-box;
            background-color: #ecf0f0;
        }
        textarea{
            width : 100%;
            border : 0;
            height : 40px;
            font-size: 16px;
            color : #022c43;
            padding: 20px;
            min-height: 150px;
            box-sizing: border-box;
            background-color: #ecf0f0;
        }

        .flat-button{
            color : #022c43;
            background-color: #d6dddd;
            font : 11px;
            letter-spacing: 3px;
            text-decoration: none;
            padding: 10px 13px;
            border : 1px solid black;
            float : middle;
            border-radius: 4px;
            margin-left: 170px;
        }
    }
}

body{
    overflow: hidden;
}

@media screen and (max-width : 1200px){
    .container.contact-page{
        width : 90%;
        padding: 20px;
        box-sizing: border-box;
        // overflow: hidden;

        .contact-form{
            position: absolute;
            margin-right: 5%;
            
        }
    }
}

